$color2 = #caa455
$color = #1aad8d
// $color2 = #E3A826
$white = lightness($color, 92%)
$dark = lightness($color, 27%)
$darkness = #225057
$bg = saturation(lightness($color,25%),30%)
//$bg = saturation(lightness($color,30%),20%)
$bg = saturation(lightness($color,80%),15%)
$bg-plus = saturation(lightness($color,75%),30%)
$warn = #be385d   
$light = #f5fffc
$mid = lightness($color, 55%)

$border = $color solid 2px
$txt-sh = 1px 1px 1px  rgba(0,0,0,.5)
$box-sh = 1px 1px 2px rgba(0,0,0,0.7)
$sh = 1px 1px 2px rgba(0,0,0,0.5)
$hard-sh = 2px 2px 4px rgba(0,0,0,.8)

$sym-close = "✖"